
footer {
    // var ... height -> padding body
    height: 50px;
    line-height: 50px;
    position: fixed; 

    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    z-index: 10;

    background-color: #334455;

    a[href].visible {
        color:#88aacc;
    } 

    span#copyright, span#copyright a {
        color: #001122;
    }
}