@import '../../assets/style/var';

#cart-container {
    height: 90%;

    #cart-content {
        margin: 5px;
        padding: 5px 10px;
        height: 100%;

        background-color: #ffeedd;

        .mat-button {
            background-color: #aa8866;
        }

        .my-card {
            width: 100%;
            padding: 5px;
            margin: 5px 0;

            background-color: $card-color;

            .card-title {
                padding: 5px;
            }

            img {
                width: 100%;
            }
        }
    }

}