
// TODO make own theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// dirty template class override
i.material-icons {
    color: #112233;
}

// global style
html * {
    font-family: Helvetica, Arial, Sans-Serif;
}

html, body { 
    margin:0; 
    padding:0; 

    // allows perfect sidenav on mobile
    // but inducts top and bottom adjustments on the content
    height: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
} 
a:hover {
    text-decoration: underline;
} 

// global style classes
.align-right {
    text-align: right;
}

// Flex-layout hack for the container of the flex element
.unflex {
    display: block !important;
}

