
// TODO make own theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// dirty template class override
i.material-icons {
    color: #112233;
}

// global style
html * {
    font-family: Helvetica, Arial, Sans-Serif;
}

html, body { 
    margin:0; 
    padding:0; 
}
body {
    // TODO var footer heigth
    padding-bottom: 50px;
}

a:link, a:visited, a:active {
    text-decoration: none;
} 
a:hover {
    text-decoration: underline;
} 

// global style classes
.align-right {
    text-align: right;
}