
// TODO make own theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";




/* global style */
html * {
    font-family: Helvetica, Arial, Sans-Serif;
}

body {
    margin: 0;
}


/* global style classes */
.align-right {
    text-align: right;
}