<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
<p>
    core component core component core component
</p>
